gradio==4.15.0
huggingface-hub==0.20.3
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langsmith==0.1.98
openai==1.40.0
pandas==2.1.4
matplotlib==3.8.2
plotly==5.17.0
PyPDF2==3.0.1
python-docx==1.1.0
openpyxl==3.1.2
